input[id="title"] {
  color: white;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #323238;
  border-radius: 4px;
  font-size: 16px;
  background-color: #202024;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[id="title"]:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  outline: none;
}

.input[id="title"]::placeholder{
  color: #999;
}

.character-count[id="title"]{
  position: absolute;
  bottom: -1.2rem;
  right: 0.5rem;
  font-size: 0.8rem;
  color: var(--placeholder-color);
  transition: opacity 0.3s ease-in-out;
}